.waterfall {
  display: inline-block;
  padding: 5px;
    width: 43%; 
}
.waterfall canvas {
   width: 100%; 
  transform: rotate(90deg);
} 
.streamgraph {
  padding: 5px;
  display: inline-block;
  width: 56%;
}
.streamgraph svg {
  width: 100%;
}