.waterfall {
  padding: 5px;
  width: 43%;
}
.waterfall canvas {
  width: 100%;
  transform: rotate(90deg);
}
.streamgraph {
  padding: 5px;
  display: inline-block;
  width: 100%;
}
.streamgraph svg {
  width: 100%;
}
